{{#if isStoryTopic}}
  {{#if imageURL}}
  <div class="story-image-container">
    <div class="story-image" style="background-image: url('{{imageURL}}')"></div>
  </div>
  {{/if}}
  <div id="paginatediv" class="paginationstyle">
<a href="#" rel="previous" style="margin-right: 100px">Prev</a> <a href="#" rel="next">Next</a>
  </div>
{{/if}}

